body {
  background: radial-gradient(circle at center, #878889, #2f353f);
}

* {
    margin: 0;
    padding: 0;
}



.main-Title{
  background-color: #878889;
  color: #2f353f;
  display:flex ;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 800;
  font-family: sans-serif;
}
.options{
  display:flex ;
  justify-content: center;
}
.senderCard{
  /* color: aqua; */
}
.options-card{
  background-color: #878889;
  color: #2f353f;
  border-style: solid;
  box-shadow: 0 4px 8px 0 #2f353f(0, 0, 0, 0.2), 0 6px 20px 0 #2f353f(0, 0, 0, 0.19);
  margin-top: 2px;
}
.video-main{

  margin-top: 2px;
}

.senderCard{
  background-color: #878889;
  color: #2f353f;
  border-color: #2f353f;
  box-shadow: 0 4px 8px 0 #2f353f(0, 0, 0, 0.2), 0 6px 20px 0 #2f353f(0, 0, 0, 0.19);
}
.reciever-Card{
  background-color: #878889;
  color: #2f353f;
  border-color: #2f353f;
  box-shadow: 0 4px 8px 0 #2f353f(0, 0, 0, 0.2), 0 6px 20px 0 #2f353f(0, 0, 0, 0.19);
}
.copybtn{
  margin-top: 10px;
}
.mirrored {
  transform: scaleX(-1);
}
.DangerBtn{
  margin-top: 10px;
}
.icon{
  transform: rotate(227deg);
}
:where(.css-dev-only-do-not-override-ixblex).ant-card .ant-card-body {
  padding:0px 2px 0px 2px !important;
  border-radius: 0 0 8px 8px;
}
.senderCard, .ant-card {
  margin-bottom: 20px;
  width: calc(50% - 20px); /* Adjust width for responsiveness */
  padding:0px 2px 0px 2px !important;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
}
.myVideo {
  width: 100%;
  height: auto;
  filter: saturate(125%) ;
}
.options{
  display: none;
}
.hang{
  display: flex;
  justify-content: center;
  margin-top: -10px;

}
.hangRow{
  border: 1px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(185 185 185);
}
.id{
  float: right;
  color: #878889;
}
.recievercard{
  padding:0px 2px 0px 2px;
}
:where(.css-ixblex).ant-card .ant-card-body {
  padding:0px 2px 0px 2px;
  border-radius: 0 0 8px 8px;
}
.BotButton{
  position: fixed;
  width: 50px !important;
  height: 50px !important;
    left: 20px;
    bottom: 20px;
    width: 320px;
    height: 450px;
    border-radius: 15px;
}